tests/fixtures/default-ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD that uses xmlns="http://www.w3.org/2001/XMLSchema" as the DEFAULT namespace
  (i.e. no xs: prefix on element/complexType/sequence/any etc.).
  This is the style used by xmldsig-core-schema.xsd, which is imported by the
  TISS digital-signature schemas.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:test:defaultns">

  <element name="payload" type="PayloadType"/>

  <complexType name="PayloadType">
    <sequence>
      <element name="id"      type="string"/>
      <element name="value"   type="integer" minOccurs="0"/>
      <!-- xs:any equivalent — allows arbitrary extra content -->
      <any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="version" type="string" use="optional"/>
  </complexType>

  <simpleType name="StatusCode">
    <restriction base="string"/>
  </simpleType>

</schema>
